body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 20px;
}

.form-container,
.table-container,
.chart-container {
  margin: 20px auto;
  width: 80%;
  max-width: 600px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input,
select,
button {
  display: block;
  width: 100%;
  padding: 7.5px;
  margin-bottom: 10px;
  font-weight: bold;
  border-radius: .5em;
  font-size: 10px;
  
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: all .2s ease;
}

button:hover {
  background-color: #0056b3;
  border-color: 00008B;
}

.performance-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  text-align: center;
}

.performance-table th,
.performance-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.performance-table th {
  background-color: #007bff;
  color: white;
}

.performance-chart {
  margin-top: 20px;
}

